.c-exp-reqs{margin-top:20px}.c-exp-req{margin-bottom:10px;font-size:15px;line-height:1.25}.c-exp-req--w-button{padding-right:30px}.c-exp-req__remove{width:20px;height:20px;fill:var(--theme-secondary);vertical-align:top;justify-content:center;align-items:center;margin:0 -30px 0 10px;display:inline-flex}.c-exp-req__remove:hover{fill:var(--theme-symbols-hover)}.c-exp-req__remove>x-icon{width:14px;height:14px}.c-exp-cols>:nth-child(2){width:285px;flex:none}.c-exp-cols>:nth-child(2)>*{margin-top:0}.c-exp-cols>:nth-child(3){width:300px;flex:none}
