.c-exp-reqs{margin-top:20px}.c-exp-req{margin-bottom:7px;font-size:15px;line-height:1.25}.c-exp-req__remove{display:inline-block;position:relative;margin-left:.5em;width:20px;height:20px;cursor:pointer;background:center no-repeat var(--res-close-gray);vertical-align:top}.c-exp-req__remove:hover{background-image:var(--res-close)}.c-exp-cols>:nth-child(2){flex:none;width:285px}.c-exp-cols>:nth-child(2)>*{margin-top:0}.c-exp-cols>:nth-child(3){flex:none;width:300px}
