.c-exp-reqs{margin-top:20px}.c-exp-req{margin-bottom:7px;font-size:15px;line-height:1.25}.c-exp-req__remove{width:20px;height:20px;cursor:pointer;background:var(--res-close-gray)center/12px 12px no-repeat;vertical-align:top;margin-left:.5em;display:inline-block;position:relative}.c-exp-req__remove:hover{background-image:var(--res-close)}.c-exp-cols>:nth-child(2){width:285px;flex:none}.c-exp-cols>:nth-child(2)>*{margin-top:0}.c-exp-cols>:nth-child(3){width:300px;flex:none}
